In [1]:
lst = [1,2,3,4]

In [ ]:
#find the difference between del, pop & remove for lists

In [2]:
del lst[2]

In [1]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
sum(range(10))

45

In [3]:
sorted([45,26,90])

[26, 45, 90]

### Creating a function

Custom functions can have multiple return expressions as demonstrated below:

In [1]:
#Custom functions can have multiple return expressions as demonstrated below:
def addtwo(a,b):
    return a+b, a*2, b*2

In [3]:
a,b,c = addtwo('xyz', 'abc')
a,b,c

('xyzabc', 'xyzxyz', 'abcabc')

In [5]:
def thing():
    print("Hello")
    print("Fun")

In [6]:
thing()
print('Zip')
thing()

Hello
Fun
Zip
Hello
Fun

### Built-in Functions

In [4]:
big=max("Hello world")

In [5]:
print(big)

w

In [6]:
tiny=min("Hello world")

In [7]:
tiny

' '

In [15]:
lst  = [20,59,100, 12,4,8, 20, 12, 4]
d = {1: 'R', 5: 'P', 2: 'S'}
s = set(lst) 
print(s)#the order does not have any meaning incase of sets

{100, 4, 8, 12, 20, 59}

In [18]:
tup = ('P','R','A')
sorted(tup)

['A', 'P', 'R']

In [19]:
print(sorted(lst))
print(sorted(tup))
print(sorted(d, reverse = True)) #reverse = T will give decreasing order
print(sorted(s)) #because I want to give an order -and sets are unordered

[4, 4, 8, 12, 12, 20, 20, 59, 100]
['A', 'P', 'R']
[5, 2, 1]
[4, 8, 12, 20, 59, 100]

In [21]:
a = (1,2,4) #tuple are read only lists
b = [1,2,4]
a[0]=56

TypeError: 'tuple' object does not support item assignment

In [23]:
b[0]=56
b
a.

[56, 2, 4]

### User defined functions

In [8]:
def greet(lang):
    if lang == 'es':
        print('Hola')
    elif lang == 'fr':
        print('Bonjour')
    else:
        print('Hello')

In [9]:
greet('hi')

Hello

In [ ]:
sum()

In [2]:
def convert_to_celsius(fahrenheit):
    ''' (number) -> number

     Return the number of Celsius degrees equivalent to fahrenheit degrees.

     >>> convert_to_celsius(32)
     0
     >>> convert_to_celsius(212)
     100
     '''
    return (fahrenheit - 32) * 5 / 9

In [5]:
convert_to_celsius(78) #by doing shift+tab we can access the docstring of the custom functions as well

25.555555555555557

### Write a program to prompt the user for hours and rate per hour using input to compute gross pay.   
Award time-and-a-half for the hourly rate for all hours worked above 40 hours. Put the logic to do the computation of time-and-a-half in a function called computepay() and use the function to do the computation.  
The function should return a value. Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75).   You should use input to read a string and float() to convert the string to a number.  
Do not worry about error checking the user input unless you want to - you can assume the user types numbers properly.  
Do not name your variable sum or use the sum() function.

In [6]:
hrs = input("Enter Hours:")
rate=input("Enter hourly rate:")
h=float(hrs)
r=float(rate)

def computepay(h,r):
    if h<=40:
          pay=r*h
    else:
        pay=r*40+1.5*r*(h-40)
    return pay
    
p = computepay(h,r)
print(p)

Enter Hours:Samridhi
Enter hourly rate:10

ValueError: could not convert string to float: 'Samridhi'

In [4]:
def computepay(hours,rate):
    ''' (number,number)-> number
    Returns the pay of a worker given the hours worked and rate per hour. Rate becomes 1.5 times 
    if some one works for more than 40 hrs 
    >>> computepay(35,10)
    350
    >>> computepay(45,10)
    475 '''
    try: 
        hrs=float(hours)
        r=float(rate)
        pay=hrs*r
        if hrs>40:
            pay=(hrs-40)*1.5*r+40*r
            return pay 
    except: 
        print('Please enter a number')

In [5]:
hours=input('enter no. of hours')
rate=input('enter the rate')
pay = computepay(hours,rate)
print(pay)

enter no. of hoursSamridhi
enter the rate4
Please enter a number
None

In [7]:
def perimeter(side1, side2, side3):
    '''(number, number, number) -> number

    Return the perimeter of a triangle with sides of length
    side1, side2 and side3.

    >>> perimeter(3, 4, 5)
    12
    >>> perimeter(10.5, 6, 9.3)
    25.8
    '''
    return side1 + side2 + side3

In [8]:
def semiperimeter(side1, side2, side3):
    '''(number, number, number) -> float

    Return the perimeter of a triangle with sides of
    length side1, side2 and side3.

    >>> semiperimeter(3, 4, 5)
    6.0
    >>> semiperimeter(10.5, 6, 9.3)
    12.9
    '''
    return perimeter(side1, side2, side3) / 2

In [12]:
#print(perimeter(10,20,30))
print(semiperimeter(10,20,30))

30.0